body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;]
  }

  #p1 {
      font-family: cursive;
      font-size: x-large;
  }
  #p2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  img{
    height: 50px;
    width: 50px;
  }

  #i2{
    height: 50px;
    width: 50px;
  }
  #i3{
    height: 500px;
    width: 500px;
    opacity: 0.5
  }

  #i4{
    height: 1000px;
    width: 1850px;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  p.dotted {border-style: dotted;
  
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
    height: 100%;
    width: 100%;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #i2 {
    float: right;
  }

  #i5{

  }

  #p3 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;  
  }